<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="shortcut icon" type="image/x-icon" href="<%- root_url %>/favicon.ico">
	<link rel="stylesheet" type="text/css" href="<%- root_url %>/assets/css/bootstrap.min.css"/>
	<link href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'/>
	<link rel="stylesheet" type="text/css" href="<%- root_url %>/assets/css/style.css"/>
</head>

<body>
	<main id="main">
		<div id="form">
			<h2>Set API Key</h2>
			<div class="auth-section form-section">
				<div class="form-group form-inline">
					<input id="email" type="email" class="form-control" placeholder="Enter email to receive API key" onclick="this.style.color = 'black'; this.value = ''; this.placeholder = 'Enter email to receive API key'">
					<button type="submit" class="btn btn-default" onclick="CadApiForm.submitEmailAddress()">Submit</button>
				</div>
				<div class="form-group form-inline">
					<input id="api-key" type="text" class="form-control" placeholder="API key" onclick="this.style.color = 'black'; this.value = ''; this.placeholder = 'API key'"/>
					<button id="api-key-set" type="submit" class="btn btn-default" onclick="CadApiForm.setApiKey()">Set key</button>
					<div id="api-key-feedback" class="invalid" style="display: none"></div>
				</div>
			</div>
			<div id="terms-ack" class="form-group form-inline" style="display: none">
				<div class="form-check">
				  	<input id="terms-check" class="form-check-input" type="checkbox" value="" onchange="CadApiForm.onCheckTerms(this)" />
				  	<label class="form-check-label" for="terms-check">
				    	I agree to the&nbsp;<a href="<%- root_url %>/form/termsOfUse" target="_blank" onclick="CadApiForm.enableTermsAcknowledgementCheckbox()">Terms of Use</a>
				  	</label>
				</div>
			</div>
			<h2>Query API Endpoint</h2>
			<div class="api-form-section form-section">
				<div class="form-group form-inline">
					<select id="endpoint-select" class="form-control disabled" onchange="CadApiForm.onSelectEndpointOption(this.value)"></select>
					<button id="get-submit" type="button" class="btn btn-default disabled" onclick="CadApiForm.onClickFormGet()">Get</button>
				</div>
				<div id="param-options"></div>
			</div>
			<h2>Query Generator</h2>
			<div class="api-data-section form-section">
				<div class="query-generator-section">
					<div class="form-group form-inline">
						<textarea type="text" id="query-display" class="form-control disabled"></textarea>
						<a class="copy-text-link" title="Copy text" data-text-id="query-display"><img src="<%- root_url %>/assets/img/cut-copy-and-paste.jpg" width="40" height="25" style="margin-left: 6px"></a>
					</div>
				</div>

				</div>
				<div class="download-options">

				</div>
				<h2>Query Response</h2>
				<div class="query-response-section form-section">
					<div class="form-group form-inline">
						<textarea type="text" id="query-response-display" class="form-control code-display" disabled></textarea>
						<a class="copy-text-link" title="Copy text" data-text-id="query-response-display"><img src="<%- root_url %>/assets/img/cut-copy-and-paste.jpg" width="40" height="25" style="margin-left: 6px"></a>
					</div>
				</div>
				<h2>Python Code</h2>
				<div class="python-view-section form-section">
					<div class="form-group form-inline">
						<textarea type="text" id="python-display" class="form-control code-display" disabled></textarea>
						<a class="copy-text-link" title="Copy text" data-text-id="python-display"><img src="<%- root_url %>/assets/img/cut-copy-and-paste.jpg" width="40" height="25" style="margin-left: 6px"></a>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer>
		<div>
			<div class="info-links">
				<ul>
					<li><a href="https://specialcollections.du.edu/about/contact" target="_blank">Contact Us</a></li>
					<li><a href="https://app.swaggerhub.com/apis/dulibrarytech/digitalducollectionsasdata/1.0.0#/CollectionItem" target="_blank">Technical API Specification</a></li>
				</ul>
			</div>
		</div>
	</footer>
</body>

<script type="text/javascript" src="<%- root_url %>/config/config.js"></script>
<script type="text/javascript" src="<%- root_url %>/libs/CadApiForm.js"></script>
<script type="text/javascript" src="<%- root_url %>/views/cad-api-form.js"></script>
<script type="text/javascript">
	CadApiForm.initForm(config);
</script>